{{#each posts}}
  <div class="post">
    <h2>{{this.title}}</h2>
    <p>By {{this.user.username}} on {{this.createdAt}}</p>
    <p>{{this.content}}</p>
  </div>
{{else}}
  <p>No posts available</p>
{{/each}}
